.Ingredient {
    /* ô */
    /* padding-left: 16.875em; */
    padding-left: 8.875em;
}

.row {
    /* cha */
    display: flex;
}

.ViewGame {
    width: 100px;
    height: 100px;
    margin: 0px 9px 9px 0px;
}

.Item {
    /* con */
    text-align: center;
    width: 100px;
    height: 100px;
    display: none;
}

.Item_ {
    /* con */
    text-align: center;
    width: 100px;
    height: 100px;
}

.ItemButton {
    /* chau */
    width: 100%;
    height: 100%;
    opacity: 2;
}

.ItemButton_ {
    /* chau */
    width: 100%;
    height: 100%;
    opacity: 0.5;
    border: 1px solid;
}

.ItemImg {
    /* chat */
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .Ingredient {
        width: 656px;
        padding: 1px;
    }
    .Item {
        /* con */
        text-align: center;
        width: 50px;
        height: 50px;
        margin: 0px 5px 5px 0px;
    }
    .Item_ {
        /* con */
        text-align: center;
        width: 50px;
        height: 50px;
        margin: 0px 5px 5px 0px;
        border: 1px solid;
    }
    .ItemButton {
        /* chau */
        width: 50px;
        height: 50px;
    }
    .ItemImg {
        /* chat */
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-width: 739px) {
    .Ingredient {
        padding-left: 0px;
    }
    .Item {
        /* con */
        text-align: center;
        width: 30px;
        height: 30px;
        margin: -2px;
    }
    .Item_ {
        /* con */
        text-align: center;
        width: 30px;
        height: 30px;
        margin: -2px;
    }
    .ItemButton {
        /* chau */
        width: 80%;
        height: 80%;
        opacity: 2;
    }
}