.Content {
    width: 70em;
    /* background-image: url("../images/win.png");
    background-repeat: no-repeat;
    background-size: cover; */
    /* cha */
}

.ItemRow {
    height: 90px;
    display: flex;
    /* con */
}


/* .ClassItem {
    cursor: pointer;
    width: 100%;
}

.Item {
    border: 3px solid #ffffff;
}

.Item_ {
    border: 3px solid #0d1117;
} */

.Img {
    width: 100%;
    height: 100%;
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}


/* .Img_ {
    width: 100%;
    height: 100%;
    opacity: 0.5;
} */

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}


/* Phan 2 */

.classItemTest {
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
}

.ItemTest {
    border: 3px solid #0d1117;
}

.ItemTest_ {
    border: 3px solid #ffffff;
}

.ItemImg {
    display: none;
}

.ItemImg_ {
    display: unset;
}

.ClickItem {
    opacity: 1;
}

.ClickItem_ {
    opacity: 0.5;
}