* {
    padding: 0;
    margin: 0;
    border: none;
}

.App {
    background-color: #ffffff;
    min-width: 100vh !important;
    min-Height: 100vh !important;
    /* ô */
}

.App_ {
    background-color: #0d1117;
    min-width: 100vh !important;
    min-Height: 100vh !important;
    /* ô */
}

.Button {
    /* con1 */
    padding-top: 5%;
    padding-left: 5%;
}

.Button-Color {
    /* chau1 */
    width: 80px;
    height: 30px;
    background-color: #7cf20d85;
    border-radius: 6px;
    color: #000;
    font-weight: bold;
}

.Button-Color_ {
    /* chau1 */
    width: 80px;
    height: 30px;
    background-color: #7cf20d85;
    border-radius: 6px;
    color: azure;
    font-weight: bold;
}

.Content {
    /* con2 */
    padding-top: 3%;
}