* {
    padding: 0;
    margin: 0;
    border: none;
}

.ClassApp {
    min-width: 100vh !important;
    min-Height: 100vh !important;
    /* ô */
}

.App {
    background-color: #ffffff;
}

.App_ {
    background-color: #0d1117;
}

.Button {
    /* con1 */
    padding-top: 2%;
    padding-left: 5%;
}

.ClassButton-Color {
    /* chau1 */
    width: 80px;
    height: 30px;
    background-color: #7cf20d85;
    border-radius: 6px;
    font-weight: bold;
}

.Button-Color {
    color: #000;
}

.Button-Color_ {
    color: azure;
}

.Content {
    width: 50%;
    height: 50%;
    margin: 0 auto;
}